body {
    background-color: white;
    margin: 0;
}
nav {
    background-color: steelblue;
    padding: 25px;
}
a {
    font-size: 1.5em;
    color: white;
    padding: 25px;
}
h1 {
    color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    margin: 25px 0;
    font-size: 64px;
    z-index: 1;
}
img {
    width: 25%;
    height: 25%;
    /*display: block;*/
    margin: 50px;
    border: 4px solid white;
}
p {
    width: 80%;
    padding: 30px;
}
/*footer {
    background-color: steelblue;
    color: white;
}*/
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
main p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
#active {
    background-color: white;
    color: steelblue;
}
/*nav, footer {
    text-align: center;
    background-color: steelblue;
    color: brown;
}*/
/*footer p {
    font-size: 20px;
    margin: 20px auto;
    color: black;
    padding: 25px;*
}*/
a:hover {
    background-color: white;
    color: steelblue;
}
.parra1 {
    color: white;
}
.parraresto {
    text-align: left;
    
}
h1:hover {
    color: black;
}
#imgsolo {
    width: 80%;
    margin: 0 auto;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}