body {
    max-width: 1600px;
    text-align: center;
    margin: auto 0;
}
.circles {
    margin: auto 50px;
 /*   padding: 10px;*/
    display: block;
    /*border: 5px solid black;*/
    height: 400px;
}
#background {
    background-color: gray;
    margin: auto 50px;
    /*padding: 10px;*/
    display: block;
    /*border: 5px solid black;*/
    height: 250px;
    width: 82%;
}
.images {
   margin: 70px 50px;
   height: 200px;
   width: 200px;
   border: 5px solid black;
   border-radius: 50%;
}
/**{
    border: solid black;
}*/